body, html {
	font-family: 'Arimo', Roboto, Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}
            
/* Header and body */
header {position:fixed;top:0px;display:block;width:100%;height:50px;margin:0px;padding:0px;z-index:1;background-color:#eee;}
.header-wrap {width:100%;max-width:1000px;margin:0px auto;}
header h1 {display:inline-block;margin:0px 0px 0px 10px;padding:0px;font-weight:200;font-size:34px;line-height:50px;vertical-align:middle;}
header a {text-decoration:none;}
header a:hover {text-decoration:underline;}
header nav {display:inline-block;float:right;margin-right:10px;}
header nav ul, header nav ul li {list-style:none;display:inline-block;margin:0px;padding:0px;}
header nav ul li {float:left;clear:none;}
header nav ul li a {font-size:18px;line-height:50px;vertical-align:middle;padding:0px 10px;}
.content {margin:60px auto 0px auto;width:100%;max-width:1000px;}

/* Homepage */
.home-panel {text-align:center;}
.triple-panel {vertical-align:top;width: 300px;margin: 10px auto 0px auto;display: inline-block;text-align:center;}
.triple-panel img {height:75px;}
.triple-panel h3 {margin:5px 0px 0px 0px;padding:0px;}
.triple-panel p {margin:5px 0px 0px 0px;padding:0px;}

.button {display:inline-block;background-color:#5fa7da;border-radius:5px;padding:10px 20px;margin:15px 0px;color:#fff;text-decoration:none;}
.button:visited {color:#fff;}
.button:hover {text-decoration:underline;}
                        
/* Footer */
footer {display:block;width:100%;}
footer h3 {font-weight:normal;margin:10px 0px 0px 10px;padding:0px 0px 5px 0px;}
.footer-about, .footer-social{display:inline-block;vertical-align:top;width:100%;max-width:495px;margin:0px auto;}
.footer-about p {margin:0px 0px 0px 20px;padding:0px;}
.footer-wrap {width:100%;max-width:1000px;margin:0px auto;}
.footer-social ul {list-style:none;margin:0px;padding:0px}
.footer-social ul li {list-style:none;margin:0px 0px 0px 20px;padding:0px;}
.footer-copy {font-size:12px;}
#intro {
	margin-top: 100px;
	color: grey;
}

#intro h1 {
	font-size: 5rem;
}

main {
	position: relative;
}

#team img#mtrask {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 2px solid black;
}

#team h1 {
	font-size: 5rem;
	margin-top: 120px;
	margin-bottom: 40px;
}

/* Mobile Responsive Form */
.frm {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
}
.frm input[type=text],
.frm input[type=submit],
.frm input[type=button],
.frm input[type=email],
.frm input[type=number],
.frm input[type=date],
.frm input[type=time],
.frm input[type=datetime],
.frm textarea,
.frm select,
.frm label {
    width: 100%;
    margin: 0px;
}
.frm label {
    margin-top: 3px;
    display: block;
}
.frm input[type=submit] {
    margin-top: 5px;
}